@charset "UTF-8";

body{
    background-color: #ecb367;
    transition: 0.6s;
}

h1{
    text-align: center;
    font-size: 30pt;
}

button#noturn{
    position: fixed;
    left: 10px;
    top:10px;
    font-size: 20pt;
    padding: 20px;
    border: 5px solid red;
    border-radius: 40px;
    background-color: rgb(104, 168, 168);
    box-shadow: 2px 2px 2px black;
}

button#noturn:hover{
    background-color: rgb(156, 245, 245);
}

input#botao{
    position: absolute;
    top: 50%;
    left: 50%;

/*======Para centralizar descontando a altura e largura======
    do próprio elemento  */
    transform:translate(-50%, -50%);  

    float: left;
    border-radius: 20px;
    transition: 0.5s;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30pt;
    background-color: rgb(252, 252, 201);
    padding: 20px;
    width: 600px;
}

input#botao:hover{
   
    background-color: rgb(246, 248, 112);
    transition: 0.5s;
}

div#a, div#b, div#c, div#d, div#e, div#f, div#g, div#h, div#i{
    float: left;
    background-color: aqua;
    border: 2px solid black;
    width: 150px;
    height: 150px;
    transition: 0.6s;
}

div#a:hover, div#b:hover, div#c:hover, div#d:hover, div#e:hover, 
div#f:hover, div#g:hover, div#h:hover, div#i:hover{
    background-color: rgb(126, 250, 250);
    transition: 0.2s;
    
}

section#secao{
    position: absolute;
    left: 53%;
    top: 55%;
    transform:translate(-50%, -50%);  
    width: 600px;
    margin: auto;
 
}

button#recomecar{
    padding: 20px;
    font-size: 20pt;
    background-color: rgb(255, 173, 66);
    transition: 0.6s;
    position: fixed;
    left: 80%;
    top:80%;
    transform: translate(-50%)
}


button#recomecar:hover{
    background-color: #fdc378;
    transition: 0.6s;
}
